{
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaVersion": 8,
		"sourceType": "module"
	},
	"rules": {
		"no-console": "off"
	},
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true
	}
}