html, body
	height: 100%
	margin: 0
	padding: 0


@font-face
	font-family: "Lobster"
	src: url("../fonts/Lobster-Regular.ttf")
	font-weight: normal
	font-style: normal


a
	color: #327ACE
	text-decoration: none
a:hover
	text-decoration: underline
	cursor: pointer


input, textarea, .like-input
	display: block
	width: 512px
	margin-bottom: 16px
	padding: 12px

	border: 1px solid lighten(#327ACE, 40%)
	border-bottom: 3px solid #327ACE

	font-family: Verdana, Arial, sans-serif
	font-size: 16px

	resize: none